<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/vuetify.css">
    <script src="js/vue.js"></script>
    <script src="js/vuetify.js"></script>
    <script src="js/sortable.js"></script>
    <script src="js/draggable.js"></script>
    <script src="js/textarea_expander.js"></script>
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    <main class="wrap" id="dash">

        <h1>
            <span>Dasboard</span>   

            <div class="radio_group">
	
                <input type="radio" class="radio_button" name="columns" value="col_4" id="col_4" v-model="gridColumns" />
                  <label for="col_4">4 column</label>
                  
                <input type="radio" class="radio_button" name="columns" value="col_3" id="col_3" v-model="gridColumns" />
                  <label for="col_3">3 column</label>
                  
                <input type="radio" class="radio_button" name="columns" value="col_2" id="col_2" v-model="gridColumns" />
                  <label for="col_2">2 column</label>
                
            </div>
        </h1>
       
        <draggable v-model="cards" class="row" :class="gridColumns">
       
            <article v-for="card in cards" class="card" v-bind:style="{ borderColor: card.color}">
                
                <header class="title">
                    <v-swatches
                        v-model="card.color"
                        :colors="colors"
                        row-length="6"
                        shapes="circles"
                    >
                    </v-swatches>
                    <input
                        type="text"
                        v-model="card.title" 
                    >
                    <button class="destroy" @click="removeCard(cards, card)"></button>
                </header>
                <ul>
                    <draggable v-model="card.tasks">
             
                    <li v-for="task in card.tasks" :class="task.status">
                        <input
                            type="checkbox"
                            v-model="task.status"
                            true-value="completed"
                            false-value="open"
                        >
                        <resizable-textarea>
                        <textarea
                            v-model="task.title"
                            class="task"
                            rows="1"
                        ></textarea>
                        </resizable-textarea>
                        <button class="destroy" @click="removeTask(card, task)"></button>
                    </li>
                    </draggable>
                </ul>
                <footer class="add_form">
                    <input type="text" 
                        @keyup.enter="addTask(card, event)"
                        placeholder="Input task name"
                    >
                </footer>  
            </article>
            
            <article class="add_new card">
                <footer class="add_form">
                    <input type="text" 
                        v-model="newCardTitle"
                        @keyup.enter="addCard"
                        placeholder="Input project name"
                    >
                </footer>
            </article>
               
        </section><!--.row / #dash-->

        <!-- <pre>{{ cards }}</pre> -->

    </main><!--.wrap-->
    <script src="js/app.js"></script>
    
</body>
</html>                                                                                                                                            
